		%table 
		- @inventories.each do |s|
    	%tr
      		%td= best_in_place s, :product
		:javascript
		$(document).ready(function() {
  		/* Activating Best In Place */
  		jQuery(".best_in_place").best_in_place();
		});
